<html>
<head>
<!--bootstrap files-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!--my stylesheet-->
<link rel="stylesheet" type="text/css" href="mystyle.css">
<title>About OpenWater</title>
</head>
<body>
<div>
  <!--navigation bar-->
  <div>
    <nav class="navbar navbar-inverse" role="navigation">      
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" rel="home" href="">
                <img style="max-width:200px; margin-top: -7px;"
                      src="/images/OpenROV.png"></a></li>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!--page text-->
  <div class="txt">
    <h2> What we do. </h2>
    <p>
        OpenROV builds low-cost, open-source ROVs to make underwater exploration 
        affordable and accessible to the public. OpenWater came to life when
        we realized that the OpenROV community is and has been collecting lots of fine 
        grain thermocline data when flying their ROVs. 
        <br>
        We began asking, what can we do with this data? How can we put it to good use?
        By making it accessible to the scientific community at large to assist climate 
        change and oceanography research.
        <br>
        OpenWater allows OpenROV users to contribute to the citizen
        science movement by collecting real scientific data with their ROVs
        that scientists can use to monitor changing water columns around the world.
    </p>
    <h2> How to contribute. </h2>
    <p>
        If you have an ROV, fly it anywhere and everywhere you can to collect lots of data!
        Then, go to the data tab, and sync all of your files to add it to the database
        and make it accessible to scientists!
    </p>
  </div>
</div>
</body>
</html>
