<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<title>About OpenScience</title>
</head>
<body>
  <div>
  <div>
    <nav class="navbar navbar-inverse" role="navigation">

    <class="navbar-left">
      <a class="navbar-brand" rel="home" href="">
          <img style="max-width:200px; margin-top: -7px;"
              src="/images/OpenROV.png">
      </a>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="/about.html">About<span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </nav>

    
  </div>
  <div class="txt">
    <h2> What we do. </h2>
    <p>
        OpenROV builds low-cost, open-source 
        ROVs to make underwater exploration much 
        more affordable and accessible to the public. The goal of Project
        OpenScience is to allow OpenROV users to contribute to the citizen
        science movement by collecting real scientific data with their ROVs
        that scientists can use to monitor the changing water column.
    </p>
    <h2> How to contribute. </h2>
    <p>
        Users may add data they collect around the world with their ROVs through the cockpit.
    </p>
  </div>
</div>
</body>
</html>