  body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*font-family: "Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"*/
  }

  h2, h4, p {
    color: white;
  }

  label {
    color: lightgrey;
  }
  .checkbox-inline {
    color: white;
  }

  nav {
    padding-left:20px; 
    padding-right:100px;
  }

  .container {
    margin-left:30px; 
    margin-top:30px;
    padding-bottom:10px;
  }

  .txt {
    padding-left:30px;
    width: 40%
  }
  

  tr:hover {
    background-color: #00264d
  }

  th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  table {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.6);

  }
  th, td {
      color: white;
      padding: 10px;
  }
  /*div {
    border: 1px solid white;
  }*/