  body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*font-family: "Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"*/
  }

  h2, h4, p, th, td {
    color: white;
  }

  caption {
    font-size: large;
    color: #00264d;
  }

  label {
    color: lightgrey;
  }
  .checkbox-inline {
    color: white;
  }

  nav {
    padding-left:20px; 
    padding-right:100px;
  }

  .container {
    margin-left:20px; 
    margin-top:20px;
    margin-bottom:10px;
  }

  .txt {
    padding-left:30px;
    width: 40%
  }
  input {
    margin-top:7px;
    margin-left:15px;
  }
  

  tr:hover {
    background-color: #00264d
  }

  /*th, table, td */
  /*tr {
    border: 1px solid white;
    border-collapse: collapse;
  }*/

  /*.children {
    background-color: white;
  }*/

  td, th {
    border-bottom: 1px solid white;
    border-collapse: collapse;
  }

  table {
    margin-left: 0px;
    margin-bottom: 20px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    border: 1px solid white;
  }
  th {
      padding: 15px;
  }
  td {
      padding: 10px;
  }

  /*#mapid { 
    height: 180px; 
  }*/

  /*div {
    border: 1px solid white;
  }*/